

# --- Бэкенд (Go) ---
backend_code/bin/
backend_code/*.exe
backend_code/*.log
backend_code/*.out
backend_code/*.test
backend_code/.swp
backend_code/.env
backend_code/config.yaml

# --- Общие исключения ---
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
